
<div th:replace="fragments/header :: header"></div>
<h1 align="center">Liste des stagiaires</h1>
Harbaoui Hanen 
<br>
Le nombre total des inscrits : <span th:text= "${totalStudent}">un mot </span>


Le formateur est  : <p th:text= "${trainerStudent}">un mot </p>
<button type="button" class="btn btn-success">Success</button>
<div class="card" style="width: 18rem;">
  <img th:src="@{/image/téléchargement.jpg}" class="card-img-top" alt="Logo SIP ACADEMY">
  <div class="card-body">
    <h5 class="card-title">Formation Fullstack</h5>
    <p class="card-text">Formation 100% pratique sur les framworks SpringBoot Angular React Native </p>
    <a href="#" class="btn btn-primary">Details</a>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

